#headline{
    width: 100%;
    min-width: 1263px;
    background:linear-gradient(to bottom right,rgba(0,0,0,0.7),rgba(0,0,0,0)) , url("../img/headline.jpg"),no-repeat;
    height: 300px;

}
#headline .center1{
    width: 1263px;
    height: 300px;
    margin: 0 auto;
}
#headline .hgroup{
    padding: 100px 0 0 50px;
}
#headline h2{
    color: #eeeeee;
    font-size: 36px;
    letter-spacing: 1px;
}
#headline h3{
    color: #eeeeee;
    font-size: 20px;
    letter-spacing: 1px;
}
#container{
    width: 1263px;
    /*background: #eeeeee;*/
    margin: 30px auto;
}
#container .sidebar{
    width: 350px;
    /*background: #eeeeee;*/
    float: right;
}
#container .sidebox{
    border: 1px solid #eeeeee;
    margin: 0 0 10px 0;
    text-align: center;
}
#container .sidebar h2{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    text-indent: 8px;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    color: #666;
}
#container .tag{
    padding: 10px 0;
}
#container .tag ul{
    display: inline-block;
}
#container .tag li{
    display: inline-block;
    line-height: 35px;
    height: 35px;
    width: 100px;
    background-color: #eeeeee;
    text-align: left;
    margin: 2px 0;
    text-indent: 8px;
}
#container .tag a{
    display: block;
    color: #999;
}
#container .tag a:hover{
    background-color: green;
    color: white;
}
#container .fig{
    padding: 10px 0;
}
#container  figure{
    display: inline-block;
    padding: 4px;
    color: #666666;
}
#container .box{
    padding: 10px 0;
}
#container .box a{
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #eeeeee;
    line-height: 40px;
    margin: 2px 0;
    color: #999999;
    text-align: left;
    text-indent: 35px;
}
#container .box .trea1{
    background: #eeeeee url(../img/trea1.png) no-repeat 10px center;
}
#container .box .trea2{
    background: #eeeeee url(../img/trea2.png) no-repeat 10px center;
}
#container .box .trea3{
    background: #eeeeee url(../img/trea3.png) no-repeat 10px center;
}
#container .box .trea4{
    background: #eeeeee url(../img/trea4.png) no-repeat 10px center;
}
#container .list{
    width: 890px;
    float: left;
}
#container .infor{
    background-color: #eeeeee;
    height: 45px;
    line-height: 45px;
    margin: 0 0 20px 0;
}
#container .left{
    display: inline-block;
    float: left;
}
#container .left li{
    display: inline-block;
    width: 140px;
    height: 45px;
    text-align: center;
}
#container .left li:first-child{
    background-color: white;
    border-top: 2px solid #458b00;
}
#container .left a{
    color: #666666;
}
#container .right{
    display: inline-block;
    float: right;
    padding: 0 20px 0 0;
}
#container .right li{
    display: inline-block;
    width: 55px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
#container .right li a{
    padding: 3px 8px;
    color: #666666;
}
#container .right .selected,#container .right a:hover{
    background-color: #458b00;
    color: #ffffff;
}
#container .tour{
    position: relative;
    width: 890px;
    border: 1px solid #eeeeee;
    padding: 4px;
    margin: 0 0 20px 0;

}
#container .tour img{
    float: left;
    z-index: 1;
}
#container .tour figcaption{
    width: 480px;
    height: 230px;
    float: right;
}
#container .tour hgroup{
    width: 320px;
}
#container .tour h2{
    font-size: 24px;
    color: #333333;
    padding: 10px 0 10px 8px;
}
#container .tour h3{
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    padding: 10px 0 10px 8px;
    line-height: 1.5;
}
#container .tour ol{
    padding: 0 0 0 8px;
    list-style: none;
    color: #666666;
}
#container .tour li{
    margin: 6px 0;
}
#container .tour mark{
    background: white;
    border: 1px solid #458b00;
    color: #458b00;
    padding: 0 5px;
    border-radius: 4px;

}
#container .tour .buy{
    position: absolute;
    top: 55px;
    right: 10px;

}
#container .tour .price{
    color: #f60;
    font-size: 20px;
}
#container .tour .price strong{
    font-size: 36px;
}
#container .tour .price s{
    font-size: 16px;
    color: #999999;
}
#container .tour .reserve{
    margin: 10px 0 0 0;
}
#container .tour .reserve a{
    width: 140px;
    height: 40px;
    background-color: #ff6600;
    line-height: 40px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: white;
}
#container .tour .type{
    z-index: 2;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 30px;
}
#container .tour .disc{
    width: 52px;
    height: 52px;
    background: url(../img/disc.png) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
#container .tour .disc span{
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    text-indent: 5px;
    color: #ff7a4d;
    padding: 4px 0 0 0;
}
#container .tour footer{
    z-index: 0;
    display: block;
    position: absolute;
    text-indent: 10px;
    right: 0px;
    width: 510px;
    height: 30px;
    line-height: 30px;
    background-color: #fafafa;
    color: #999;
    /*padding: 0 0 0 20px;*/
    text-align: left;
    bottom: 0;
}
#container .tour time{
    color: green;
    letter-spacing: 1px;
}